<footer class="w-full bg-blue-800 rounded-3xl shadow-2xl flex flex-col items-center justify-center text-white font-medium py-8 px-8 md:px-0 gap-4 text-center">
  <p>Distrito 6</p>
  <span> Copyright 2024 © Distrito 6 de la Central Mexicana de Servicios Generales de Alcohólicos Anónimos, A.C.</span>
</footer>