<div class="flex gap-20 min-h-[70vh] md:flex-row flex-col justify-center items-center">
  <div class="w-full text-center md:w-7/12 flex flex-col gap-4">
    <h1 class="md:text-3xl lg:text-4xl text-2xl font-medium text-gray-900">COMITE DE SERVICIOS GENERALES DE: Alcohólicos Anónimos Área Puebla Dos</h1>
    <h3 class="md:text-lg text-md text-gray-600 font-medium">REGIÓN SUR PONIENTE TEHUACÁN, PUE.</h3>
  </div>
  <div class="">

    <img src="https://imgs.search.brave.com/4mh6dNsxB2Qd1-WCLqjpzk3RvH4a218da3dczYNZ_2s/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pY29u/YXBlLmNvbS93cC1j/b250ZW50L3BuZ19s/b2dvX3ZlY3Rvci9h/bGNvaG9saWNvcy1h/bm9uaW1vcy1jZW50/cmFsLW1leGljYW5h/LWxvZ28ucG5n" class="w-full object-cover" alt="">
  </div>
</div>